.idea
*.pyc
*.zip
pretrains
assets/samples
outputs/results
outputs/checkpoints
*debug.sh
*debug.py
*build
*dist
*.egg-info
thirdparty/neural_renderer/files.txt
piao_scripts
doc/bug_list.md
thirdparty/his_evaluators/data
