imageio==2.5.0
tqdm==4.28.1
setuptools==39.1.0
numpy==1.14.5
scipy==1.2.1
torch==1.2.0
torchvision==0.4.0
h5py==2.8.0
scikit_image==0.15.0
visdom==0.1.8.9
opencv_contrib_python==3.4.2.17
matplotlib==3.1.1
ipdb==0.12.2
Pillow==6.2.0
progressbar2==3.46.1
tensorboardX==1.8
